*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #363636;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.menu{
    background-image: url(banner-home.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 500px;
    background-size: cover;
    background-position: right center;
}

.banner{
    margin-top: 50px auto 0;
    width: 80%;
    text-align: center;
    text-align: right;
    display: flex;
    flex-direction: column;


}
.banner h2{
    color: rgb(228, 228, 228);
    border-bottom: solid orangered 5px;

}

h1{
    color: orangered;
    text-align: right;
    position: absolute;
    top: 24%;
    left: 65%;
}

h1:hover{
    text-shadow: 0 0 20px orangered;
}

.h2{
    color: rgb(0, 0, 0);
    text-align: left;
    position: absolute;
    top: 30%;
    left: 50%;
}

.menu nav ul{
    margin: 0 50px 0 0;
    text-align: center;
    font-weight: bolder;
}

.menu nav li{
    display: inline-block;
    list-style: none;
    color: white;
    margin-left: 2px;
}

.menu nav{
    display: flex;
    justify-content: right;
    padding-top: 1px;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu nav a{
    color: white;
    text-decoration:  none;
    list-style: none;
    padding: 20px;
    display: block;
}

.menu nav a:hover{
    color: orangered;
}

h3{
    text-align: center;
    color: orangered;
    background-color: #5a5a5a;
    font-size: 25px;
}

main {
    width: 80%;
    margin: auto;
}

article{
    background-color: rgba(255, 255, 255, 0.46);
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 22px;
    border-radius: 10px;
    padding: 50px;

}

.imgjean{
    padding-right: 50px;
    width: 55%;
}
.corpo{
    margin-top: 50px;

}
.corpo-resumo{
    margin-bottom: 50px;
}
.corpo-resumo img{
    width: 60%;
    
}


.corpo p{
    width: 40%;
    font-size: larger;
    text-align: center;
}

.jean{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    border-radius: 10px;

}

.jean p{
    text-align: center;
}

.premiacoes{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.premiacoes ul{
    margin-right: 25px;
    padding-top: 5%;

}

a{
    text-decoration: none;
    color: orangered;
}

#link-home{
    color: orangered;
    text-decoration: underline;
}
.paragrafos{
    padding: 30px;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
}

footer img{
    width: 20px;
    margin: 5px;
}

footer img:hover{

    filter: drop-shadow(0 0 0.20rem orangered);
}