*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #181f3e;
    width: 100%;
    
}
.menu nav ul{
    margin: 0 50px 0 0;
    text-align: center;
    font-weight: bolder;

}

.menu nav li{
    display: inline-block;
    list-style: none;
    color: white;
    margin-left: 2px;
}

.menu nav{
    display: flex;
    justify-content: right;
    padding-top: 1px;
    width: 100%;
    position: fixed;
    top: 0;
}

.menu nav a{
    color: white;
    text-decoration:  none;
    list-style: none;
    padding: 20px;
    display: block;
}

.menu nav a:hover{
    color: orangered;
}

.banner{
    margin: 70px;

}
.banner h2{
    color: rgb(183, 183, 183);
    border-bottom: solid orangered 5px;

}

body{
    background-color: #363636;
}
#link-obras{
    color: orangered;
    text-decoration: underline;
}
main{
    margin-top: 50px;
}
main img{
    width: 200px;
}
main div{
    background-color: rgba(255, 255, 255, 0.641);
    margin: 70px;
    padding-left: 40px;
    border-radius: 10px;
}
 main h2{
    padding-bottom: 20px;
    padding-top: 30px;
}
h1{
    margin-left: 70px;
    margin-top: 50px ;
    color: orangered;
    
}
h3{
    color: orangered;
}
.plataforma{
    display: flex;
    background-color: transparent;
    margin-top: 10px;
    padding-bottom: 20px;
}
.plataforma a{
    padding-left: 5px;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
}

footer img {
    width: 20px;
    margin: 5px;
}